html{
    background:  url("https://vcdn-vnexpress.vnecdn.net/2021/09/15/DH-Bach-khoa-HN-9252-1631681129.jpg");
    background-repeat: no-repeat;
}

h1{
    color: black;
    align-content: center;

}
